
.bodyHome {

    width: 100vw;
    height: 100vh;
    background-image: url("/img/FondoHome.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.panelContainer {

    width: 50%;
    position: relative;

}

.panelContainer img {

    object-fit: contain;
    max-width: 100%;

}

.planetasHome {
    position: absolute;

}

.tierraHome {
    top: 25%;
    left: 35%;
    width: 40%;
}

.nubesTierraHome {
    width: 40%;
    top: 25%;
    left: 35%;
    animation:spin 230s linear infinite;
    -webkit-animation:spin 230s linear infinite;
    animation-direction: reverse;
}



.AmarilloHome {
    top: 43%;
    left: 73%;
    width: 50%;

}

.nubesAmarilloHome {
    top: 43%;
    left: 71%;
    width: 50%;
    animation:spin 180s linear infinite;
    -webkit-animation:spin 180s linear infinite;
}

.marteHome {
    top: 23%;
    left: 73%;
    width: 20%;

}

.nubesMarteHome {
    top: 23%;
    left: 73%;
    width: 20%;
    animation:spin 80s linear infinite;
    -webkit-animation:spin 80s linear infinite;
    animation-delay: -55s;
}

.nose{
    width: 12%;
    top: 32%;
    left: 31%;
    animation:spin 170s linear infinite;
    -webkit-animation:spin 170s linear infinite;

}



@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }